* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

header {
    background-color: rgb(239, 59, 59);
    height: 100vh;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: rgb(239, 59, 59);
    ;
}

.navbar .nav-list {
    display: flex;
    box-shadow: 0px 1px 10px black;

}

.navbar .nav-list li {
    padding: 20px 40px;
    list-style-type: none;
}

.navbar .nav-list li a {
    text-decoration: none;
    color: white;
}

#one {
    background: white;
    color: black !important;
}

#one a {
    color: black !important;
}

.hero {
    font-size: 1.3em;
    padding: 200px 0;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.hero .one {
    font-size: 2.2em;
    margin: 40px;
}

.hero button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.parent2 {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.parent2 .ch2 {
    width: 40%;
    line-height: 1.5;
}

.parent2 .ch2 h2 {
    font-size: 2.2em;
    margin-bottom: 30px;
}

.parent2 .ch2 p {
    font-size: 1.3rem;
}


.parent2 .ch3 {
    color: rgb(181, 169, 153);
    margin-top: 35px;
}

.parent3 {
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 100px 0;
}

.parent3 .ch6 {
    width: 40%;
    line-height: 1.5;
}

.parent3 .ch6 h2 {
    font-size: 2.2em;
    margin-bottom: 30px;
}

.parent3 .ch6 p {
    font-size: 1.3rem;
}

.parent3 .ch6 .ch7 {
    color: rgb(105, 102, 98);
    margin-top: 35px;
}

.ch8 {
    width: 100%;
    background: rgb(87, 86, 86);
    text-align: center;
    color: white;
    padding: 60px;
    font-size: 1.5em;
}

.img {
    display: flex;
    justify-content: center;
    padding: 150px 0px 100px;
}

.foot {
    color: rgb(114, 111, 111);
    text-align: center;
    padding-bottom: 50px;
}

.foot a {
    color: rgb(114, 111, 111);
}